<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap3 rescap">

  <!-- FOR PUBLISHING TO MICROSOFT STORE -->
  <!-- When you're ready to publish your extension to Microsoft Store,you'll need to 
    change the values in the Identity & Properties tags below
      Name = replace with Microsoft Store's Package/Identity/Name 
      Publisher = replace with Microsoft Store's Package/Identity/Publisher
      DisplayName = replace with the reserved name from Partner Center
      PublisherDisplayName = replace with Microsoft Store's Package/Properties/PublisherDisplayName
      Logo = Confirm that this image exist at the path
       -->
  <Identity
    Name="CmdPalExtensionDrWhoQuotes"
    Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"
    Version="0.0.1.0" />
  <Properties>
    <DisplayName>Dr Who Quotes</DisplayName>
    <PublisherDisplayName>A Lone Developer</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.19041.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Dr Who Quotes"
        Description="Dr Who Quotes"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"  Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer Executable="CmdPalExtensionDrWhoQuotes.exe" Arguments="-RegisterProcessAsComServer" DisplayName="Dr Who Quotes">
              <com:Class Id="14ece62f-3bcb-4e12-ac7c-f17c1cf19b7e" DisplayName="Dr Who Quotes" />
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>
        <uap3:Extension Category="windows.appExtension">
          <uap3:AppExtension Name="com.microsoft.commandpalette"
            Id="ID"
            PublicFolder="Public"
            DisplayName="Dr Who Quotes"
            Description="Dr Who Quotes">
            <uap3:Properties>
              <CmdPalProvider>
                <Activation>
                  <CreateInstance ClassId="14ece62f-3bcb-4e12-ac7c-f17c1cf19b7e" />
                </Activation>
                <SupportedInterfaces>
                  <Commands/>
                </SupportedInterfaces>
              </CmdPalProvider>
            </uap3:Properties>
          </uap3:AppExtension>
        </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
